:root {
  --grid-width: 1112px;
  --red-primary: hsl(0, 100%, 68%);
  --red-primary-light: hsl(359, 100%, 76%);
  --blue-dark: hsl(230, 29%, 20%);
  --blue-gray-dark: hsl(230, 11%, 40%);
  --blue-gray: hsl(231, 7%, 65%);
  --blue-gray-light: hsl(207, 33%, 95%); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: hsl(230, 29%, 20%);
  color: var(--blue-dark);
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5; }

img {
  display: block; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h1,
h3,
nav,
.cta--btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.headline {
  max-width: 47rem;
  margin: 1.8rem 0 1.3rem;
  font-size: 4.1rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  line-height: 1; }
  @media (min-width: 960px) {
    .headline {
      margin: 2.9rem 0 4.5rem;
      font-size: 6.4rem; } }

h3 {
  margin-top: 2.7rem;
  color: hsl(231, 7%, 65%);
  color: var(--blue-gray);
  font-size: 1.25rem;
  letter-spacing: 1rem; }
  h3 strong {
    margin-right: 1rem;
    padding: 0.5rem 1.1rem;
    border-radius: 20px;
    background-color: hsl(230, 29%, 20%);
    background-color: var(--blue-dark);
    color: #fff;
    letter-spacing: 0.15rem; }
  @media (min-width: 960px) {
    h3 {
      margin-top: 7rem;
      font-size: 1.5rem; } }

.new-item {
  margin-top: 3.1rem;
  letter-spacing: 0.6rem; }

.cta {
  font-size: 1.3rem;
  letter-spacing: 0.13rem; }

.cta--btn {
  margin-right: 1.8rem;
  padding: 1.25rem 2.2rem;
  transition: 0.3s;
  border: 0;
  border-radius: 5px;
  background-color: hsl(0, 100%, 68%);
  background-color: var(--red-primary);
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 0.16rem;
  cursor: pointer; }
  @media (min-width: 960px) {
    .cta--btn {
      margin-right: 2.4rem;
      padding: 1.8rem 3.3rem; } }
  .cta--btn:hover {
    transform: scale(1.01);
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.3); }
  .cta--btn:active {
    position: relative;
    top: 1px;
    transform: scale(0.99);
    background-color: hsl(359, 100%, 76%);
    background-color: var(--red-primary-light);
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.6); }

p {
  max-width: 29rem;
  color: hsl(230, 11%, 40%);
  color: var(--blue-gray-dark); }

.container {
  position: relative;
  max-width: 1112px;
  max-width: var(--grid-width);
  margin: 3rem 3.2rem 2rem; }
  @media (min-width: 960px) {
    .container {
      margin: 6.5rem auto 2rem; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 2.4rem; }

main {
  padding-top: 35.4rem; }
  @media (min-width: 960px) {
    main {
      padding-top: 6.2rem; } }

.device-bg {
  position: absolute;
  z-index: -10;
  top: -1.9rem;
  right: 0;
  width: 50vw;
  height: 55vh;
  border-radius: 0 0 0 7rem;
  background-color: hsl(207, 33%, 95%);
  background-color: var(--blue-gray-light); }
  .device-bg > img {
    width: 98vw;
    margin-top: 14rem;
    float: right; }

footer {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 1rem;
  left: 0;
  justify-content: center; }

nav {
  display: flex;
  font-weight: 700;
  text-align: center; }
  nav li {
    width: 100%; }
  nav a {
    display: block;
    padding: 0.86rem;
    transition: 0.2s;
    color: hsl(230, 29%, 20%);
    color: var(--blue-dark);
    letter-spacing: 1px; }

.nav-wrapper a:hover {
  background-color: hsl(0, 100%, 68%);
  background-color: var(--red-primary);
  color: #fff; }
  @media (min-width: 960px) {
    .nav-wrapper a:hover {
      border-radius: 20px; } }

.nav-wrapper a:active {
  background-color: hsl(359, 100%, 76%);
  background-color: var(--red-primary-light); }

.nav-toggle {
  z-index: 100;
  width: 4rem;
  height: 4rem;
  margin-right: -0.7rem;
  cursor: pointer; }

.nav-toggle i {
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  margin: auto;
  background: hsl(230, 29%, 20%);
  background: var(--blue-dark); }

.nav-toggle i:nth-child(1) {
  margin-top: 1.2rem; }

.nav-toggle i:nth-child(2),
.nav-toggle i:nth-child(3) {
  margin-top: 0.5rem; }

.nav-wrapper {
  position: fixed;
  top: -25rem;
  left: 3rem;
  width: 85vw;
  padding: 1.3rem 2rem;
  transition: 0.3s cubic-bezier(0.94, 0.06, 0.61, 0.92);
  border: solid 1px #fff;
  border-radius: 3px;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.25); }

#nav:checked + .nav-toggle {
  transform: rotate(45deg); }

#nav:checked + .nav-toggle i,
#nav + .nav-toggle i {
  transition: transform 0.2s ease-out; }

#nav:checked + .nav-toggle i:nth-child(1) {
  transform: translateY(7px) rotate(180deg); }

#nav:checked + .nav-toggle i:nth-child(2) {
  opacity: 0; }

#nav:checked + .nav-toggle i:nth-child(3) {
  transform: translateY(-7px) rotate(90deg); }

#nav:checked ~ .nav-wrapper {
  z-index: 90;
  top: 10rem;
  opacity: 1; }

#nav + .nav-toggle i + nav {
  display: hidden; }

.login {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.2rem;
  border-top: solid 1px hsl(207, 33%, 95%);
  border-top: solid 1px var(--blue-gray-light); }
  .login a {
    color: hsl(231, 7%, 65%);
    color: var(--blue-gray); }
  @media (min-width: 960px) {
    .login::before {
      content: '';
      display: block;
      -ms-grid-row-align: center;
          align-self: center;
      width: 1rem;
      height: 1rem;
      margin: 0 2.1rem;
      background-color: hsl(231, 7%, 65%);
      background-color: var(--blue-gray); } }

.hidden {
  display: none; }
