a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.cta {
    margin-right: 1.9rem;
    padding: 1.4rem 2.4rem 1.5rem;

    transition: 0.3s;

    border: 0;
    border-radius: 5px;

    background-color: var(--red-primary);

    color: #fff;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 0.1rem;

    cursor: pointer;

    @media (--lg-viewport) {
        margin-right: 2.4rem;
        padding: 1.8rem 3.3rem;
    }

    &:hover {
        transform: scale(1.01);

        box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
    }

    &:active {
        position: relative;
        top: 1px;

        transform: scale(0.99);

        background-color: var(--red-primary-light);
        box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.6);
    }
}
