.container {
    position: relative;

    max-width: var(--grid-width);
    margin: 3rem 3.2rem 2rem;

    @media (--lg-viewport) {
        margin: 5.8rem auto 2rem;
        padding-left: 0.8rem;
    }
}

header {
    display: flex;

    align-items: center;
    justify-content: space-between;
    // background: cyan;
}

.logo {
    @media (--mdx-viewport) {
        width: 2.4rem;
    }
}

main {
    padding-top: 35.4rem;

    @media (--lg-viewport) {
        padding-top: 12.65rem;
    }
}

.device-bg {
    position: absolute;
    z-index: -10;
    top: -1.9rem;
    right: 0;

    width: 50vw;

    height: 55vh;

    border-radius: 0 0 0 7rem;

    background-color: var(--blue-gray-light);
    @media (--lg-viewport) {
        width: 49vw;
        height: 50vh;
    }

    & > img {
        width: 98vw;
        margin-top: 14rem;
        float: right;

        @media (--lg-viewport) {
            width: 48vw;
            margin-top: 23rem;
        }
    }
}

footer {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 1rem;
    left: 0;

    justify-content: center;
}
