.container {
    position: relative;

    max-width: var(--grid-width);
    margin: 3rem 3.2rem 2rem;

    @media (--lg-viewport) {
        margin: 6.5rem auto 2rem;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: cyan;
}

.logo {
    width: 2.4rem;
}

main {
    padding-top: 35.4rem;

    @media (--lg-viewport) {
        padding-top: 6.2rem;
    }
}

.device-bg {
    position: absolute;
    z-index: -10;
    top: -1.9rem;
    right: 0;

    width: 50vw;
    height: 55vh;

    border-radius: 0 0 0 7rem;

    background-color: var(--blue-gray-light);

    & > img {
        // height: 33vw; dekstop
        width: 98vw;

        // margin-top: 22rem; desktop
        margin-top: 14rem;
        float: right;
    }
}

footer {
    display: none;

    @media (--lg-viewport) {
        display: flex;
        position: fixed;
        right: 0;
        bottom: 1rem;
        left: 0;

        justify-content: center;
    }
}
