h1,
h2,
h3,
nav,
.cta--btn {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.headline {
    max-width: 47rem;
    margin: 1.8rem 0 1.3rem;

    font-size: 4.1rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 1;

    @media (--lg-viewport) {
        margin: 2.9rem 0 4.5rem;

        font-size: 6.4rem;
    }
}

h3 {
    margin-top: 2.7rem;

    color: var(--blue-gray);
    font-size: 1.25rem;
    letter-spacing: 1rem;

    strong {
        margin-right: 1rem;
        padding: 0.5rem 1.1rem;

        border-radius: 20px;

        background-color: var(--blue-dark);

        color: #fff;
        letter-spacing: 0.15rem;
    }

    @media (--lg-viewport) {
        margin-top: 7rem;

        font-size: 1.5rem;
    }
}

.new-item {
    margin-top: 3.1rem;

    letter-spacing: 0.6rem;
}

.cta {
    font-size: 1.3rem;
    letter-spacing: 0.13rem;
}

.cta--btn {
    margin-right: 1.8rem;
    padding: 1.25rem 2.2rem;

    transition: 0.3s;

    border: 0;
    border-radius: 5px;

    background-color: var(--red-primary);

    color: #fff;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 0.16rem;

    cursor: pointer;

    @media (--lg-viewport) {
        margin-right: 2.4rem;
        padding: 1.8rem 3.3rem;
    }

    &:hover {
        transform: scale(1.01);

        box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
    }

    &:active {
        position: relative;
        top: 1px;

        transform: scale(0.99);

        background-color: var(--red-primary-light);
        box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.6);
    }
}

p {
    max-width: 29rem;

    color: var(--blue-gray-dark);
}
