// mobile
@custom-media --mobile-s-max (max-width: 350px);
@custom-media --mobile-s (min-width: 360px);
@custom-media --mobile-m (min-width: 375px);
@custom-media --mobile-m-max (max-width: 420px);
@custom-media --mobile-l (min-width: 410px);

// tablet
@custom-media --tablet (min-width: 760px);

// laptop
@custom-media --laptop (min-width: 960px);
@custom-media --laptop-l (min-width: 1280px);

:root {
    --grid-width: 1126px;

    --red-primary: hsl(0, 100%, 68%);
    --red-primary-light: hsl(359, 100%, 76%);
    --blue-dark: hsl(230, 29%, 20%);
    --blue-gray-dark: hsl(230, 11%, 40%);
    --blue-gray: hsl(231, 7%, 65%);
    --blue-gray-light: hsl(207, 33%, 95%);
}
